---
layout: archive
---

{{ content }}

{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
<button id="apiButton">Call API</button>

  <script>
    document.getElementById('apiButton').addEventListener('click', function() {
      fetch('https://api.restful-api.dev/objects')
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
          }
          return response.json();
        })
        .then(data => {
          alert(JSON.stringify(data, null, 2));
        })
        .catch(error => {
          alert('There was a problem with the fetch operation: ' + error.message);
        });
    });
  </script>
{% endfor %}
